In [4]:
import pandas as pd

# List

In [2]:
new = ['A','B','C']
pd.Series(new)

0    A
1    B
2    C
dtype: object

In [3]:
new2 = [1,2,3]
pd.Series(new2)

0    1
1    2
2    3
dtype: int64

In [4]:
new3 = [True,True,False,False]
pd.Series(new3)

0     True
1     True
2    False
3    False
dtype: bool

# Dictionary

In [5]:
w = {
    'm1':'jerry',
    'm2':'Bill',
}

In [6]:
pd.Series(w)

m1    jerry
m2     Bill
dtype: object

# Attributes

In [7]:
about_me = ["老實","忠誠","帥"]
x = pd.Series(about_me)
x

0    老實
1    忠誠
2     帥
dtype: object

In [8]:
x.values

array(['老實', '忠誠', '帥'], dtype=object)

In [9]:
x.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
x.dtype

dtype('O')

In [11]:
about_me_number = [1,2,3]
x = pd.Series(about_me_number)
x

0    1
1    2
2    3
dtype: int64

In [12]:
x.dtype

dtype('int64')

# Methods

In [14]:
prices = [100,200,300]
x = pd.Series(prices)
x

0    100
1    200
2    300
dtype: int64

In [15]:
x.sum()

600

In [16]:
x.product()

6000000

In [17]:
x.mean()

200.0

In [24]:
# Parameters
prices = [100,200,300]
prices2 = [2,3,4]
x = pd.Series(index=prices, data=prices2)
x

100    2
200    3
300    4
dtype: int64

In [25]:
x.sum()

9

# Read CSV

In [8]:
# Shift + Tab 
pd.read_csv()

TypeError: parser_f() missing 1 required positional argument: 'filepath_or_buffer'

In [6]:
pd.read_csv("ubike-utf8.csv")

,日期,時間,場站代號,場站區域,場站名稱,經度,緯度,總停車格,平均車輛數,最大車輛數,最小車輛數,車輛數標準差,平均空位數,最大空位數,最小空位數,空位數標準差
0,2014-12-08,15,2,大安區,捷運國父紀念館站(2號出口),25.041000,121.556945,48.0,24.000,27,23,1.549,22.000,23,19,2.0
1,2014-12-08,15,3,信義區,台北市政府,25.037797,121.565169,NaN,10.333,13,8,1.862,29.667,32,27,2.0
2,2014-12-08,15,4,信義區,市民廣場,25.036036,121.562325,NaN,39.333,40,38,1.033,20.667,22,20,1.0
3,2014-12-08,15,5,信義區,興雅國中,25.036564,121.568664,60.0,34.167,35,33,0.753,25.833,27,25,1.0
4,2014-12-08,15,6,信義區,世貿二館,25.034736,121.565658,80.0,31.333,32,31,0.516,47.667,48,47,1.0
5,2014-12-08,15,7,信義區,信義廣場(台北101),25.033039,121.565619,80.0,23.571,25,23,0.787,56.429,57,55,1.0
6,2014-12-08,15,8,信義區,世貿三館,25.035214,121.563689,60.0,19.667,20,19,0.516,40.333,41,40,1.0
7,2014-12-08,15,9,信義區,松德站,25.031590,121.574353,40.0,23.667,24,23,0.516,16.333,17,16,1.0
8,2014-12-08,15,10,信義區,台北市災害應變中心,25.028661,121.566117,54.0,16.000,17,14,1.549,38.000,40,37,2.0
9,2014-12-08,15,11,信義區,三張犁,25.034937,121.557620,66.0,44.167,46,42,1.472,20.833,23,19,1.0
10,2014-12-08,15,12,信義區,臺北醫學大學,25.026679,121.561747,34.0,25.500,27,23,1.378,8.500,11,7,1.0
11,2014-12-08,15,13,信義區,福德公園,25.038090,121.583670,66.0,49.000,49,49,0.000,16.000,16,16,0.0
12,2014-12-08,15,14,中山區,榮星花園,25.064240,121.540370,32.0,8.333,10,7,1.033,23.667,25,22,1.0
13,2014-12-08,15,15,松山區,饒河夜市,25.049845,121.571885,60.0,38.667,39,38,0.516,20.333,21,20,1.0
14,2014-12-08,15,16,信義區,松山家商,25.036084,121.579135,48.0,37.000,37,37,0.000,11.000,11,11,0.0
15,2014-12-08,15,17,松山區,民生光復路口,25.058400,121.555040,34.0,25.333,26,25,0.516,8.667,9,8,1.0
16,2014-12-08,15,18,松山區,社教館,25.048268,121.552278,38.0,13.500,15,12,1.225,22.500,24,21,1.0
17,2014-12-08,15,19,信義區,中強公園,25.028630,121.569810,30.0,17.167,18,17,0.408,11.833,12,11,0.0
18,2014-12-08,15,20,大安區,捷運科技大樓站,25.025896,121.543293,56.0,21.667,23,21,0.816,34.333,35,33,1.0
19,2014-12-08,15,21,松山區,民生敦化路口,25.057985,121.548982,66.0,21.167,22,19,1.329,44.833,47,44,1.0
20,2014-12-08,15,22,松山區,松山車站,25.048616,121.578095,44.0,13.500,14,12,0.837,30.500,32,30,1.0
21,2014-12-08,15,23,南港區,東新國小,25.055074,121.602798,32.0,17.333,18,17,0.516,14.667,15,14,1.0
22,2014-12-08,15,24,大安區,信義建國路口,25.032981,121.537328,46.0,31.500,34,30,1.378,14.500,16,12,1.0
23,2014-12-08,15,25,信義區,永吉松信路口,25.045430,121.572050,30.0,21.833,23,21,0.983,8.167,9,7,1.0
24,2014-12-08,15,26,南港區,捷運昆陽站(1號出口),25.050142,121.592375,42.0,24.500,25,24,0.548,16.500,17,16,1.0
25,2014-12-08,15,27,南港區,捷運南港展覽館站(5號出口),25.054690,121.616690,26.0,3.833,4,3,0.408,22.167,23,22,0.0
26,2014-12-08,15,28,信義區,五常公園,25.048140,121.574670,36.0,11.167,12,10,0.753,22.833,24,22,1.0
27,2014-12-08,15,29,大安區,金山愛國路口,25.031640,121.526550,54.0,36.667,38,36,0.816,17.333,18,16,1.0
28,2014-12-08,15,30,大安區,基隆長興路口,25.017054,121.544352,74.0,44.500,45,44,0.548,29.500,30,29,1.0
29,2014-12-08,15,31,大安區,辛亥新生路口,25.022413,121.534560,30.0,26.833,29,25,1.329,3.167,5,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201984,2015-01-12,12,1037,新店區,中興寶橋路口,24.976180,121.546870,52.0,12.829,17,8,2.467,27.343,30,25,1.0
201985,2015-01-12,12,1038,新莊區,新莊棒球場,25.041603,121.446053,38.0,4.600,6,3,0.736,33.400,35,32,1.0
201986,2015-01-12,12,1039,永和區,頂溪國小,25.015811,121.511261,50.0,15.657,17,14,0.802,32.343,34,31,1.0
201987,2015-01-12,12,1040,永和區,永和國小,25.002272,121.517442,38.0,17.057,20,15,1.798,18.943,21,16,2.0
201988,2015-01-12,12,1041,永和區,秀朗國小,24.999392,121.522843,46.0,2.486,3,2,0.507,37.286,38,37,0.0
201989,2015-01-12,12,1042,新店區,台北慈濟醫院,24.985872,121.536887,40.0,29.514,31,28,1.011,10.486,12,9,1.0
201990,2015-01-12,12,1043,永和區,捷運頂溪站(1號出口),25.012176,121.515271,36.0,21.086,23,18,1.634,11.914,15,10,2.0
201991,2015-01-12,12,1044,永和區,保安永平路口,25.012691,121.506471,42.0,0.371,1,0,0.490,37.629,38,37,0.0
201992,2015-01-12,12,1045,新店區,崇光女中,24.972127,121.539554,36.0,8.971,11,8,0.664,25.686,27,23,1.0
201993,2015-01-12,12,1046,新店區,新店高中,24.974181,121.534209,42.0,1.971,4,0,1.465,40.029,42,38,1.0
201994,2015-01-12,12,1047,新莊區,新莊文化藝術中心,25.047150,121.444453,48.0,28.914,30,28,0.702,19.086,20,18,1.0
201995,2015-01-12,12,1048,新莊區,中華中原路口,25.054232,121.451752,58.0,35.943,36,35,0.236,21.057,22,21,0.0
201996,2015-01-12,12,1049,三重區,新北高中,25.087225,121.489525,60.0,34.771,35,34,0.426,24.229,25,24,0.0
201997,2015-01-12,12,1050,新莊區,福壽公園,25.051829,121.457746,36.0,12.000,14,11,0.970,22.000,23,20,1.0
201998,2015-01-12,12,1051,汐止區,保長公園,25.079523,121.674342,28.0,5.343,6,5,0.482,22.657,23,22,0.0
201999,2015-01-12,12,1054,新店區,惠國市場,24.970415,121.543384,36.0,10.914,12,9,0.919,24.086,26,23,1.0
202000,2015-01-12,12,1055,新店區,陽光橋,24.978494,121.524176,40.0,22.971,24,22,0.514,16.029,17,15,1.0
202001,2015-01-12,12,1056,新店區,中興寶慶街口,24.986942,121.541950,50.0,7.914,10,6,1.011,42.086,44,40,1.0
202002,2015-01-12,12,1057,汐止區,東方科學園區,25.061262,121.649512,52.0,19.286,22,18,1.564,32.714,34,30,2.0
202003,2015-01-12,12,1059,汐止區,青山國民中小學,25.061034,121.655586,50.0,13.857,15,13,0.944,36.143,37,35,1.0
202004,2015-01-12,12,1060,汐止區,汐止區綜合運動場,25.066238,121.659067,44.0,26.086,27,26,0.284,16.914,17,16,0.0
202005,2015-01-12,12,1061,汐止區,汐止公園,25.067682,121.659763,52.0,18.686,23,17,1.811,32.314,34,28,2.0
202006,2015-01-12,12,1064,新店區,中正國小,24.971496,121.536296,32.0,15.429,18,14,1.220,15.571,17,13,1.0
202007,2015-01-12,12,1065,三重區,開元市民活動中心,25.066074,121.503557,42.0,15.457,17,14,0.657,26.543,28,25,1.0
202008,2015-01-12,12,1066,汐止區,雍和科學園區,25.058078,121.626018,44.0,19.000,19,19,0.000,25.000,25,25,0.0
202009,2015-01-12,12,1068,三重區,二重國中,25.065957,121.480465,70.0,32.000,32,32,0.000,37.000,37,37,0.0
202010,2015-01-12,12,1070,三重區,新北市立圖書館三重分館,25.066099,121.495529,50.0,21.229,22,20,0.646,28.771,30,28,1.0
202011,2015-01-12,12,1071,三重區,三張公園,25.070507,121.490935,44.0,14.057,15,13,0.684,29.943,31,29,1.0
202012,2015-01-12,12,70,信義區,捷運台北101/世貿站,25.032752,121.561645,52.0,6.353,16,0,4.760,44.206,50,35,5.0
202013,2015-01-12,12,121,中山區,龍江南京路口,25.052980,121.540568,66.0,27.419,31,25,1.608,38.581,41,35,2.0

In [14]:
pd.read_csv("ubike-utf8.csv", usecols=['日期','時間'])

                日期  時間
0       2014-12-08  15
1       2014-12-08  15
2       2014-12-08  15
3       2014-12-08  15
4       2014-12-08  15
5       2014-12-08  15
6       2014-12-08  15
7       2014-12-08  15
8       2014-12-08  15
9       2014-12-08  15
10      2014-12-08  15
11      2014-12-08  15
12      2014-12-08  15
13      2014-12-08  15
14      2014-12-08  15
15      2014-12-08  15
16      2014-12-08  15
17      2014-12-08  15
18      2014-12-08  15
19      2014-12-08  15
20      2014-12-08  15
21      2014-12-08  15
22      2014-12-08  15
23      2014-12-08  15
24      2014-12-08  15
25      2014-12-08  15
26      2014-12-08  15
27      2014-12-08  15
28      2014-12-08  15
29      2014-12-08  15
...            ...  ..
201984  2015-01-12  12
201985  2015-01-12  12
201986  2015-01-12  12
201987  2015-01-12  12
201988  2015-01-12  12
201989  2015-01-12  12
201990  2015-01-12  12
201991  2015-01-12  12
201992  2015-01-12  12
201993  2015-01-12  12
201994  2015-01-12  12
201995  2015-01-12  12
201996  2015-01-12  12
201997  2015-01-12  12
201998  2015-01-12  12
201999  2015-01-12  12
202000  2015-01-12  12
202001  2015-01-12  12
202002  2015-01-12  12
202003  2015-01-12  12
202004  2015-01-12  12
202005  2015-01-12  12
202006  2015-01-12  12
202007  2015-01-12  12
202008  2015-01-12  12
202009  2015-01-12  12
202010  2015-01-12  12
202011  2015-01-12  12
202012  2015-01-12  12
202013  2015-01-12  12

[202014 rows x 2 columns]

In [15]:
ubike_date = pd.read_csv("ubike-utf8.csv", usecols=['日期'], squeeze=True)

In [16]:
ubike_date

0         2014-12-08
1         2014-12-08
2         2014-12-08
3         2014-12-08
4         2014-12-08
5         2014-12-08
6         2014-12-08
7         2014-12-08
8         2014-12-08
9         2014-12-08
10        2014-12-08
11        2014-12-08
12        2014-12-08
13        2014-12-08
14        2014-12-08
15        2014-12-08
16        2014-12-08
17        2014-12-08
18        2014-12-08
19        2014-12-08
20        2014-12-08
21        2014-12-08
22        2014-12-08
23        2014-12-08
24        2014-12-08
25        2014-12-08
26        2014-12-08
27        2014-12-08
28        2014-12-08
29        2014-12-08
             ...
201984    2015-01-12
201985    2015-01-12
201986    2015-01-12
201987    2015-01-12
201988    2015-01-12
201989    2015-01-12
201990    2015-01-12
201991    2015-01-12
201992    2015-01-12
201993    2015-01-12
201994    2015-01-12
201995    2015-01-12
201996    2015-01-12
201997    2015-01-12
201998    2015-01-12
201999    2015-01-12
202000    2015-01-12
202001    2015-01-12
202002    2015-01-12
202003    2015-01-12
202004    2015-01-12
202005    2015-01-12
202006    2015-01-12
202007    2015-01-12
202008    2015-01-12
202009    2015-01-12
202010    2015-01-12
202011    2015-01-12
202012    2015-01-12
202013    2015-01-12
Name: 日期, Length: 202014, dtype: object

In [17]:
ubike_date.head()

0    2014-12-08
1    2014-12-08
2    2014-12-08
3    2014-12-08
4    2014-12-08
Name: 日期, dtype: object

In [18]:
ubike_date.head(2)

0    2014-12-08
1    2014-12-08
Name: 日期, dtype: object

In [12]:
ubike_date.tail()

202009    2015-01-12
202010    2015-01-12
202011    2015-01-12
202012    2015-01-12
202013    2015-01-12
Name: 日期, dtype: object

In [17]:
ubike_date.values

array(['2014-12-08', '2014-12-08', '2014-12-08', ..., '2015-01-12',
       '2015-01-12', '2015-01-12'], dtype=object)

In [18]:
ubike_date.index

RangeIndex(start=0, stop=202014, step=1)

In [19]:
ubike_date.dtypes

dtype('O')

In [22]:
#判斷是否一樣
ubike_date.is_unique

False

In [36]:
ubike_date.shape

(202014,)

In [37]:
ubike_date.size

202014

In [40]:
ubike_date.name

'日期'

In [54]:
ubike_date.sort_values()

66262     0000-00-00
184366    0000-00-00
0         2014-12-08
1335      2014-12-08
1334      2014-12-08
1333      2014-12-08
1332      2014-12-08
1331      2014-12-08
1330      2014-12-08
1329      2014-12-08
1328      2014-12-08
1327      2014-12-08
1326      2014-12-08
1325      2014-12-08
1324      2014-12-08
1323      2014-12-08
1321      2014-12-08
1336      2014-12-08
1320      2014-12-08
1319      2014-12-08
1318      2014-12-08
1317      2014-12-08
1316      2014-12-08
1315      2014-12-08
1314      2014-12-08
1313      2014-12-08
1312      2014-12-08
1311      2014-12-08
1310      2014-12-08
1309      2014-12-08
             ...
199826    2015-01-12
199816    2015-01-12
199803    2015-01-12
199802    2015-01-12
199801    2015-01-12
199778    2015-01-12
199779    2015-01-12
199780    2015-01-12
199781    2015-01-12
199782    2015-01-12
199783    2015-01-12
199784    2015-01-12
199785    2015-01-12
199786    2015-01-12
199787    2015-01-12
199788    2015-01-12
199789    2015-01-12
199790    2015-01-12
199791    2015-01-12
199792    2015-01-12
199793    2015-01-12
199794    2015-01-12
199795    2015-01-12
199796    2015-01-12
199797    2015-01-12
199798    2015-01-12
199799    2015-01-12
199800    2015-01-12
200348    2015-01-12
202013    2015-01-12
Name: 日期, Length: 202014, dtype: object

In [53]:
ubike_date.sort_values().head()

66262     0000-00-00
184366    0000-00-00
0         2014-12-08
1335      2014-12-08
1334      2014-12-08
Name: 日期, dtype: object

In [56]:
ubike_date.sort_values(ascending=False)

202013    2015-01-12
200348    2015-01-12
199800    2015-01-12
199799    2015-01-12
199798    2015-01-12
199797    2015-01-12
199796    2015-01-12
199795    2015-01-12
199794    2015-01-12
199793    2015-01-12
199792    2015-01-12
199791    2015-01-12
199790    2015-01-12
199789    2015-01-12
199788    2015-01-12
199787    2015-01-12
199786    2015-01-12
199785    2015-01-12
199784    2015-01-12
199783    2015-01-12
199782    2015-01-12
199781    2015-01-12
199780    2015-01-12
199779    2015-01-12
199778    2015-01-12
199801    2015-01-12
199802    2015-01-12
199803    2015-01-12
199816    2015-01-12
199826    2015-01-12
             ...
1309      2014-12-08
1310      2014-12-08
1311      2014-12-08
1312      2014-12-08
1313      2014-12-08
1314      2014-12-08
1315      2014-12-08
1316      2014-12-08
1317      2014-12-08
1318      2014-12-08
1319      2014-12-08
1320      2014-12-08
1336      2014-12-08
1321      2014-12-08
1323      2014-12-08
1324      2014-12-08
1325      2014-12-08
1326      2014-12-08
1327      2014-12-08
1328      2014-12-08
1329      2014-12-08
1330      2014-12-08
1331      2014-12-08
1332      2014-12-08
1333      2014-12-08
1334      2014-12-08
1335      2014-12-08
0         2014-12-08
184366    0000-00-00
66262     0000-00-00
Name: 日期, Length: 202014, dtype: object

In [57]:
ubike_date.sort_values(ascending=False).tail()

1334      2014-12-08
1335      2014-12-08
0         2014-12-08
184366    0000-00-00
66262     0000-00-00
Name: 日期, dtype: object

In [68]:
ubike_date = pd.read_csv("ubike-utf8.csv", usecols=['日期'], squeeze=True)

In [69]:
ubike_date

0         2014-12-08
1         2014-12-08
2         2014-12-08
3         2014-12-08
4         2014-12-08
5         2014-12-08
6         2014-12-08
7         2014-12-08
8         2014-12-08
9         2014-12-08
10        2014-12-08
11        2014-12-08
12        2014-12-08
13        2014-12-08
14        2014-12-08
15        2014-12-08
16        2014-12-08
17        2014-12-08
18        2014-12-08
19        2014-12-08
20        2014-12-08
21        2014-12-08
22        2014-12-08
23        2014-12-08
24        2014-12-08
25        2014-12-08
26        2014-12-08
27        2014-12-08
28        2014-12-08
29        2014-12-08
             ...
201984    2015-01-12
201985    2015-01-12
201986    2015-01-12
201987    2015-01-12
201988    2015-01-12
201989    2015-01-12
201990    2015-01-12
201991    2015-01-12
201992    2015-01-12
201993    2015-01-12
201994    2015-01-12
201995    2015-01-12
201996    2015-01-12
201997    2015-01-12
201998    2015-01-12
201999    2015-01-12
202000    2015-01-12
202001    2015-01-12
202002    2015-01-12
202003    2015-01-12
202004    2015-01-12
202005    2015-01-12
202006    2015-01-12
202007    2015-01-12
202008    2015-01-12
202009    2015-01-12
202010    2015-01-12
202011    2015-01-12
202012    2015-01-12
202013    2015-01-12
Name: 日期, Length: 202014, dtype: object

In [70]:
#sort.index()
#inplace = True 可以將排序結束的資料指派為原本的變數（如：ubike_date）
ubike_date.sort_values(ascending = False, inplace=True)

In [71]:
ubike_date.head()

202013    2015-01-12
200348    2015-01-12
199800    2015-01-12
199799    2015-01-12
199798    2015-01-12
Name: 日期, dtype: object

In [76]:
ubike_date.head(10)

0    2014-12-08
1    2014-12-08
2    2014-12-08
3    2014-12-08
4    2014-12-08
5    2014-12-08
6    2014-12-08
7    2014-12-08
8    2014-12-08
9    2014-12-08
Name: 日期, dtype: object

In [89]:
ubike_date = pd.read_csv("ubike-utf8.csv", usecols=['日期'], squeeze=True)
ubike_date.sort_values(ascending = False).head(10)

202013    2015-01-12
200348    2015-01-12
199800    2015-01-12
199799    2015-01-12
199798    2015-01-12
199797    2015-01-12
199796    2015-01-12
199795    2015-01-12
199794    2015-01-12
199793    2015-01-12
Name: 日期, dtype: object

In [75]:
ubike_date.head(10)

0    2014-12-08
1    2014-12-08
2    2014-12-08
3    2014-12-08
4    2014-12-08
5    2014-12-08
6    2014-12-08
7    2014-12-08
8    2014-12-08
9    2014-12-08
Name: 日期, dtype: object

In [78]:
ubike_date.sort_index().head(10)

0    2014-12-08
1    2014-12-08
2    2014-12-08
3    2014-12-08
4    2014-12-08
5    2014-12-08
6    2014-12-08
7    2014-12-08
8    2014-12-08
9    2014-12-08
Name: 日期, dtype: object

In [79]:
ubike_date.sort_index(ascending=False).head(10)

202013    2015-01-12
202012    2015-01-12
202011    2015-01-12
202010    2015-01-12
202009    2015-01-12
202008    2015-01-12
202007    2015-01-12
202006    2015-01-12
202005    2015-01-12
202004    2015-01-12
Name: 日期, dtype: object

In [90]:
ubike_date.head(10)

0    2014-12-08
1    2014-12-08
2    2014-12-08
3    2014-12-08
4    2014-12-08
5    2014-12-08
6    2014-12-08
7    2014-12-08
8    2014-12-08
9    2014-12-08
Name: 日期, dtype: object

In [92]:
9 in ubike_date.index

True

In [94]:
ubike_date.index

RangeIndex(start=0, stop=202014, step=1)

In [96]:
'2014-12-08' in ubike_date.values

True

In [98]:
'2014-12-08' in ubike_date.values

True

In [99]:
ubike_date[1]

'2014-12-08'

In [104]:
ubike_date[[1,190000,100000]]

1         2014-12-08
190000    2015-01-10
100000    2014-12-26
Name: 日期, dtype: object

In [107]:
ubike_date[1:10]

1    2014-12-08
2    2014-12-08
3    2014-12-08
4    2014-12-08
5    2014-12-08
6    2014-12-08
7    2014-12-08
8    2014-12-08
9    2014-12-08
Name: 日期, dtype: object

In [1]:
#The Math Methods

In [15]:
ubike_car = pd.read_csv("ubike-utf8.csv", usecols=['平均車輛數'], squeeze=True )

In [17]:
ubike_car.head(10)

0    24.000
1    10.333
2    39.333
3    34.167
4    31.333
5    23.571
6    19.667
7    23.667
8    16.000
9    44.167
Name: 平均車輛數, dtype: float64

In [18]:
ubike_car.count()

202014

In [19]:
len(ubike_car)

202014

In [20]:
ubike_car.sum()

3122637.0470000003

In [21]:
ubike_car.mean()

15.457527928757415

In [22]:
ubike_car.sum() / ubike_car.count()

15.457527928757415

In [23]:
ubike_car.std()

12.521467869287511

In [24]:
ubike_car.min()

0.0

In [25]:
ubike_car.max()

171.0

In [26]:
ubike_car.median()

13.4535

In [29]:
ubike_car.describe()

count    202014.000000
mean         15.457528
std          12.521468
min           0.000000
25%           5.767000
50%          13.453500
75%          22.000000
max         171.000000
Name: 平均車輛數, dtype: float64

In [33]:
ubike_car.idxmin()

681

In [34]:
ubike_car[681]

0.0

In [35]:
ubike_car.idxmax()

146381

In [36]:
ubike_car[146381]

171.0

In [37]:
ubike_car[ubike_car.idxmax()]

171.0

In [38]:
#The value_counts() Method 次數分配表
ubike_car.value_counts()

0.000      1162
14.000      874
1.000       835
11.000      831
13.000      815
16.000      811
12.000      804
17.000      804
15.000      800
19.000      798
18.000      797
2.000       796
20.000      794
10.000      789
21.000      725
7.000       677
9.000       674
3.000       668
23.000      665
8.000       659
22.000      654
25.000      615
24.000      598
6.000       597
4.000       594
5.000       573
26.000      479
27.000      454
28.000      427
1.400       352
           ...
17.903        1
62.429        1
81.733        1
80.267        1
45.818        1
52.269        1
12.617        1
32.196        1
12.619        1
21.963        1
46.517        1
5.692         1
24.435        1
20.106        1
16.457        1
4.812         1
45.258        1
29.149        1
60.200        1
69.067        1
5.519         1
9.314         1
24.465        1
0.537         1
18.742        1
36.812        1
12.839        1
17.129        1
62.379        1
120.214       1
Name: 平均車輛數, Length: 14037, dtype: int64

In [42]:
ubike_car.value_counts(ascending = False)

0.000      1162
14.000      874
1.000       835
11.000      831
13.000      815
16.000      811
12.000      804
17.000      804
15.000      800
19.000      798
18.000      797
2.000       796
20.000      794
10.000      789
21.000      725
7.000       677
9.000       674
3.000       668
23.000      665
8.000       659
22.000      654
25.000      615
24.000      598
6.000       597
4.000       594
5.000       573
26.000      479
27.000      454
28.000      427
1.400       352
           ...
17.903        1
62.429        1
81.733        1
80.267        1
45.818        1
52.269        1
12.617        1
32.196        1
12.619        1
21.963        1
46.517        1
5.692         1
24.435        1
20.106        1
16.457        1
4.812         1
45.258        1
29.149        1
60.200        1
69.067        1
5.519         1
9.314         1
24.465        1
0.537         1
18.742        1
36.812        1
12.839        1
17.129        1
62.379        1
120.214       1
Name: 平均車輛數, Length: 14037, dtype: int64

In [43]:
# The .apply() Method
ubike_car = pd.read_csv("ubike-utf8.csv", usecols=['平均車輛數'], squeeze=True )
ubike_car.head(10)

0    24.000
1    10.333
2    39.333
3    34.167
4    31.333
5    23.571
6    19.667
7    23.667
8    16.000
9    44.167
Name: 平均車輛數, dtype: float64

In [44]:
def classify_performance(number):
    if number < 10:
        return "ok"
    elif number >= 20 and number < 40:
        return "Great"
    else:
        return "Cool"

In [46]:
ubike_car.apply(classify_performance).tail()

202009    Great
202010    Great
202011     Cool
202012       ok
202013    Great
Name: 平均車輛數, dtype: object

In [48]:
ubike_car.apply(lambda x : x + 1).head(10)

0    25.000
1    11.333
2    40.333
3    35.167
4    32.333
5    24.571
6    20.667
7    24.667
8    17.000
9    45.167
Name: 平均車輛數, dtype: float64

In [62]:
ubike_car.head()

0    捷運國父紀念館站(2號出口)
1             台北市政府
2              市民廣場
3              興雅國中
4              世貿二館
Name: 場站名稱, dtype: object

In [63]:
#What does the squeeze parameter change in the .read_csv() method?

#A.The column width of each column)
#B.The number of rows that are imported from the CSV)
#C.The number of columns that are imported from the CSV)
#D.The conversion of the CSV's dataset to a pandas Series object instead of a pandas DataFrame object)

In [64]:
#How many Series rows do the .head() and .tail() methods return if no argument is passed within the parentheses?
#A.10
#B.5
#C.3
#D.1

In [65]:
#What is the syntactical difference between calling a method and an attribute on an object?
#A.There is no difference
#B.Attributes require parentheses, methods do not.
#C.Methods require parentheses, attributes do not.

In [66]:
#What method parameter is used to permanently modify the object the method is called on?
#A:inplace
#B:save
#C:overwrite

In [ ]:
#What method is used to call a custom Python function on every value in a Series?
#A:.map()
#B:.apply()
#C:.execute()
#D:.loopOver()

In [ ]:
#Let's say you want to check if the value "Red" exists in the values of a Series called s . Which of the following syntax options will yield the right result?
#A:"Red" in s.index
#B:"Red" in s
#C:"Red" in s.values

In [ ]:
#TRUE or FALSE: The index labels in a pandas Series must be unique.
#A:TRUE
#B:FALSE