In [15]:
empty_list=[]
weekdays=['星期一','星期二','星期三']
type(empty_list)

list

In [12]:
roles = ('甘道夫','亞拉岡','勒苟拉斯','亞玟')
type(roles)

tuple

In [99]:
roles[1]

'亞拉岡'

In [16]:
weekdays[0] = '星期一猴子穿新衣'
weekdays

['星期一猴子穿新衣', '星期二', '星期三']

In [17]:
another_empty_list = list()
another_empty_list

[]

In [23]:
list('中文')
#list('中文''英文')

['中', '文']

In [26]:
a_tuple =('一','二','三')
list(a_tuple)

['一', '二', '三']

In [28]:
a = ['台灣','美國','日本']
a[0]
a[-1]

'日本'

In [59]:
a=['大安',['中間',[1,'Julian',2,'吳老師'],'台元'],'台灣']

In [60]:
a[1][1][3]

'吳老師'

In [66]:
a[1][0]

'中間'

In [68]:
areas = ['內湖區','大安區','士林區']
names = [1,"jerry",2,"吳老師"]
areas.extend(names)
areas

['內湖區', '大安區', '士林區', 1, 'jerry', 2, '吳老師']

In [70]:
areas = ['內湖區','大安區','士林區']
names = [1,"jerry",2,"吳老師"]
areas += (names)
areas

['內湖區', '大安區', '士林區', 1, 'jerry', 2, '吳老師']

In [81]:
areas = ['內湖區','大安區','士林區']
names = [1,"jerry",2,"吳老師"]
areas.append (names)
areas[3][1]

'jerry'

In [83]:
areas = ['內湖區','大安區','士林區']
names = [1,"jerry",2,"吳老師"]
areas.insert (2,"永和區")
areas

['內湖區', '大安區', '永和區', '士林區']

In [84]:
del areas[-1]
areas

['內湖區', '大安區', '永和區']

In [85]:
areas = ["大安區","士林區","文山區","大同區","信義區"]
areas.remove("文山區")
areas

['大安區', '士林區', '大同區', '信義區']

In [88]:
areas = ["大安區","士林區","文山區","大同區","信義區"]
areas.pop(2)

'文山區'

In [89]:
areas

['大安區', '士林區', '大同區', '信義區']

In [90]:
areas.index("信義區")

3

In [91]:
"永和區" in areas

False

In [94]:
areas = ["大安區","士林區","文山區","大同區","信義區","大同區","信義區","大同區","信義區"]
areas.count("信義區")

3

In [95]:
len(areas)

9

In [98]:
marxes = ['Groucho','Chico','Harop']
marxes.sort()
marxes

['Chico', 'Groucho', 'Harop']

In [100]:
numbers = [2,1,4.0,3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

In [106]:
numbers.sort(reverse=True)
numbers

[4.0, 3, 2, 1]

In [107]:
marxes = ['Groucho','Chico','Harop']
sorted_marxes = sorted(marxes)
sorted_marxes

['Chico', 'Groucho', 'Harop']

In [108]:
marxes

['Groucho', 'Chico', 'Harop']

In [109]:
a = [1,2,3]
a

[1, 2, 3]

In [110]:
b = a
b

[1, 2, 3]

In [111]:
a[0] = 'surprise'
a

['surprise', 2, 3]

In [112]:
b

['surprise', 2, 3]

In [113]:
a = [1,2,3]
b = a.copy()
a[0] = 'surprise'
a

['surprise', 2, 3]

In [114]:
b

[1, 2, 3]

In [116]:
empty_tuple = ()
empty_tuple

()

In [122]:
roles = ('甘道夫','亞拉岡','勒苟拉斯','亞玟')
type(roles)

tuple

In [123]:
#tuple不可變，所以會出現錯誤訊息。
roles[0] = '甘道夫是魔法師'
roles

TypeError: 'tuple' object does not support item assignment

In [125]:
roles = ('甘道夫','亞拉岡','勒苟拉斯','亞玟')
a,b,c,d = roles
b

'亞拉岡'

In [126]:
password = "alshdflahsdf123"
test_password = "120310923"
password,test_password

('alshdflahsdf123', '120310923')

In [127]:
password,test_password = test_password,password
password

'120310923'

In [130]:
A = 1
print ("BBB %s CCC" % A)

BBB 1 CCC

In [132]:
A = 1
print ("BBB %s CCC" %A)

BBB 1 CCC

In [135]:
empty_dict = {}
empty_dict

{}

In [140]:
#注意逗號
class_ntust = {
    "number":"1059999",
    "name":"jerry"
    }
class_ntust

{'name': 'jerry', 'number': '1059999'}

In [143]:
school = [["班級","甲班"],["姓名","甘道夫"],["學號","110999"]]
dict(school)

{'姓名': '甘道夫', '學號': '110999', '班級': '甲班'}

In [146]:
#Tuple()
school = [("班級","甲班"),("姓名","甘道夫"),("學號","110999")]
dict(school)

{'姓名': '甘道夫', '學號': '110999', '班級': '甲班'}

In [161]:
school = ["中文","cd","ef"]
dict(school)

{'c': 'd', 'e': 'f', '中': '文'}

In [162]:
tos = ('ab','cd','ef')
dict(tos)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [189]:
class_ntust = {
"m1" : "甘道夫",
"m2" : "亞拉岡",
"m3" : "索倫",
}
class_ntust

{'m1': '甘道夫', 'm2': '亞拉岡', 'm3': '索倫'}

In [190]:
class_ntust['m1']='劉德華'
class_ntust

{'m1': '劉德華', 'm2': '亞拉岡', 'm3': '索倫'}

In [191]:
class_ntust2 = {
"m4" : "艾薇兒",
"m5" : "李聖經",
"m6" : "宮崎葵",
}
class_ntust2

{'m4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [192]:
class_ntust.update(class_ntust2)
class_ntust

{'m1': '劉德華', 'm2': '亞拉岡', 'm3': '索倫', 'm4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [193]:
#後面會蓋掉前面的
first = {"a":1,"b":2}
second = {"b":"cat"}
first.update(second)
first

{'a': 1, 'b': 'cat'}

In [194]:
del class_ntust['m1']
class_ntust

{'m2': '亞拉岡', 'm3': '索倫', 'm4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [195]:
"m2" in class_ntust

True

In [196]:
class_ntust['m5']

'李聖經'

In [197]:
class_ntust['m7']

KeyError: 'm7'

In [188]:
class_ntust.clear()
class_ntust

{}

In [202]:
class_ntust3 = {
"m7" : "艾薇兒",
"m8" : "李聖經",
"m9" : "宮崎葵",
}
class_ntust3.get("m9")

'宮崎葵'

In [203]:
class_ntust3.get("m10","輸入錯誤")

'輸入錯誤'

In [207]:
x = class_ntust3.get("m10")
x

In [10]:
class_ntust.keys()

dict_keys(['m2', 'm3', 'm4', 'm5', 'm6'])

In [200]:
class_ntust.values()

dict_values(['亞拉岡', '索倫', '艾薇兒', '李聖經', '宮崎葵'])

In [201]:
class_ntust.items()

dict_items([('m2', '亞拉岡'), ('m3', '索倫'), ('m4', '艾薇兒'), ('m5', '李聖經'), ('m6', '宮崎葵')])

In [208]:
class_ntust_new = class_ntust
class_ntust_new

{'m2': '亞拉岡', 'm3': '索倫', 'm4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [211]:
class_ntust["m3"] = "Twice"
class_ntust_new

{'m2': '亞拉岡', 'm3': 'Twice', 'm4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [212]:
class_ntust_new = class_ntust.copy()
class_ntust_new

{'m2': '亞拉岡', 'm3': 'Twice', 'm4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [213]:
class_ntust["m3"] = "綾瀨遙"
class_ntust_new

{'m2': '亞拉岡', 'm3': 'Twice', 'm4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [214]:
class_ntust

{'m2': '亞拉岡', 'm3': '綾瀨遙', 'm4': '艾薇兒', 'm5': '李聖經', 'm6': '宮崎葵'}

In [1]:
x = {1,2,3,4,5}
type(x)

set

In [2]:
y = set([1,2,3,4,5])
type(y)

set

In [4]:
empty_set = set()
empty_set

set()

In [5]:
set('letters')

{'e', 'l', 'r', 's', 't'}

In [9]:
set(["甘道夫","亞拉岡","勒苟拉斯","亞玟","索倫"])

{'亞拉岡', '亞玟', '勒苟拉斯', '甘道夫', '索倫'}

In [7]:
set(('甘道夫','亞拉岡','勒苟拉斯','亞玟'))

{'亞拉岡', '亞玟', '勒苟拉斯', '甘道夫'}

In [11]:
set({"member1":"亞拉岡","member2":"亞玟"})

{'member1', 'member2'}

In [13]:
drinks = {
"item1" : {"珍珠奶茶","紅茶"},
"item2" : {"烏龍奶茶","烏龍茶"},
"item3" : {"蜂蜜紅茶","紅茶"},
}

In [75]:
type(drinks)

dict

In [76]:
drinks['item1']

{'珍珠奶茶', '紅茶'}

In [78]:
x=drinks['item1']
type(x)

set

In [14]:
for aaa, bbb in drinks.items():
    if "烏龍茶" in bbb:
        print(aaa,bbb)

item2 {'烏龍茶', '烏龍奶茶'}

In [82]:
for name, contents in drinks.items():
    if "紅茶" in contents and not('蜂蜜紅茶' in contents):
        print(contents)

{'珍珠奶茶', '紅茶'}

In [15]:
a = {1,2}
b = {2,3}
type(a)

set

In [16]:
a&b

{2}

In [17]:
a.intersection(b)

{2}

In [18]:
a|b

{1, 2, 3}

In [19]:
a.union(b)

{1, 2, 3}

In [28]:
a = {1,2}
b = {2,3}

In [29]:
a - b

{1}

In [32]:
a.difference(b)

{1}

In [33]:
a^b

{1, 3}

In [34]:
a.symmetric_difference(b)

{1, 3}

In [46]:
m = ['G','C','H']
m

['G', 'C', 'H']

In [97]:
m.append('Z')
m

['G', 'C', 'H', 'Z']

In [94]:
m.pop()

'Z'

In [47]:
m

['G', 'C', 'H']

In [48]:
m.insert(0,'O')
m

['O', 'G', 'C', 'H']

In [49]:
m.pop(0)

'O'

In [51]:
day = ['1號','2號','3號']
week = ['週一','週二','週三','週四','週五']
month = ['1月','2月','3月']
tuple_of_lists = day, week, month
tuple_of_lists

(['1號', '2號', '3號'], ['週一', '週二', '週三', '週四', '週五'], ['1月', '2月', '3月'])

In [52]:
day = ['1號','2號','3號']
week = ['週一','週二','週三','週四','週五']
month = ['1月','2月','3月']
dict_of_lists = {'day':day, 'week':week, 'month':month}
dict_of_lists

{'day': ['1號', '2號', '3號'],
 'month': ['1月', '2月', '3月'],
 'week': ['週一', '週二', '週三', '週四', '週五']}

In [10]:
x = input('請輸入數字');len(set(x)) !=len(x)

請輸入數字123

False

In [11]:
x = [1,2,3,4,5,4]
len(set(x)) !=len(x)

True

In [15]:
legend = True
if legend:
    print('是真的')
else:
    print('是假的')

是真的

In [17]:
i_man = True
Tony = False
if i_man:
    if Tony:
        print('他是鋼鐵人')
    else:
        print('他是企業家')
else:
    if Tony:
        print('他是花花公子')
    else:
        print('他是演員')

他是企業家

In [27]:
iron_man_color = "金色"
if iron_man_color == "紅色":
    print("鋼鐵人盔甲是紅色的")
elif iron_man_color == "綠色":
    print("鋼鐵人其實也可以參考浩克的顏色")
elif iron_man_color == "藍色":
    print("鋼鐵人變成藍色小精靈也不錯")
else:
    print("好像沒有",iron_man_color)

好像沒有 金色

In [29]:
count = 1
while count <=10:
    print(count)
    count +=1

1
2
3
4
5
6
7
8
9
10

In [53]:
while True:
    name = input('猜猜我是誰?按q取消')
    if name == 'q':
        break
    print('你永遠猜不到')

猜猜我是誰?按q取消123
你永遠猜不到
猜猜我是誰?按q取消222
你永遠猜不到
猜猜我是誰?按q取消q

In [21]:
name = input("猜數字")
if name == '8888':
    print("恭喜你答對了")
elif name < '8888':
    print("再猜一次A")
    name = input("猜數字")
else :
    print("再猜一次B")

猜數字1
再猜一次
猜數字1